              h1{
                  color: darkslateblue;
                  font-size: 50px;
              }
              body{
                  font-family: 等线;
              }
              nav{
                  text-align: right;
              }
              a{
                  text-decoration: none;
                  color: cadetblue;
              }
              a:hover{
                  color: darkorange;
              }
              a:visited{
                  color:darkgreen;
              }
